html, body {
    font-size: 16px;
    font-family: Manrope, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    transition: all 0.3s;
}
.logo:hover {
    transform: scale(1.05);
}
/* ------------------------------ */
.header {
    font-size: 16px;
}

.header_top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 80px;
}

.header_logo {
    margin-right: 40px;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;

}

.header__nav-item {
    margin: 0 20px;
}

.header__nav-item:first-child {
    margin-left: 0;
}

.header__miniline {
    display: flex;
    margin-right: 1.7rem;
    margin-left: 2px;
    align-items: center;
    justify-content: center;

}

.header__nav-link {
    font-weight: 600;
    line-height: 1.75;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color:#504e4e98;
}

.header__assistance {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    
}
/* color:#504e4e98; */
.header__assistance-logo {
    transform: scale(0.8);
    margin-right: 0.5em;
}

.header__assistance-info {
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
    
}
.header__assistance-info a {
    transition: all .3s;
}
.header__assistance-info a:hover {
   color:#504e4e98; 
   
}
.header__assistance-info h2 {
    line-height: 1.5;
    font-weight: 500;
    opacity: 70%;
    font-size: 16px;
}

/* ------------------top закончили */