 html,
 body {
     font-size: 16px;
     font-family: Manrope, sans-serif;
 }

 .wrapper {
     min-height: 100%;
     width: 100%;
     overflow: hidden;
 }

 .container {
     max-width: 1310px;
     padding: 0 15px;
     margin: 0 auto;
     height: 100%;
 }

 .logo {
     display: inline-block;
     transition: transform 0.3s ease-out;
 }

 .logo:hover {
     transform: scale(1.05);
 }

 .button {
     display: inline-block;
     font-weight: 600;
     font-size: 18px;
     line-height: 175%;
     padding: 16px 40px;
     color: #fff;
     border-radius: 12px;
     background-color: #FF6433;
     transition: transform 0.3s ease-out;
 }

 .button:hover {
     transform: scale(1.05);
 }

 .subtitle {
     font-size: 1.5rem;
     font-weight: 600;
     line-height: 150%;
     letter-spacing: -0.03em;
 }

 .title {
     font-weight: 800;
     font-size: 3.625rem;
     line-height: 131%;
     letter-spacing: -0.03em;
     max-width: 850px;
     text-align: center;
     min-width: 400px;
 }

 /* ------------------------------ */

 .header {
     font-size: 1rem;
     height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .header__top-inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;


 }

 .header__logo {
     margin-right: 40px;
 }

 .header__nav {
     margin-left: auto;
 }

 .header__nav-list {
     display: flex;
 }

 .header__nav-item {
     margin: 0 20px;
 }

 .header__nav-item:first-child {
     margin-left: 0;
 }

 .header__miniline {
     display: flex;
     margin-right: 1.7rem;
     margin-left: 2px;
     align-items: center;
     justify-content: center;
 }

 .header__nav-link {
     font-weight: 600;
     line-height: 1.75;
     white-space: nowrap;
     transition: all .3s;
 }

 .header__nav-link:hover {
     color: #504e4e98;
 }

 .header__assistance {
     display: flex;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
 }

 .header__assistance-logo {
     transform: scale(0.8);
     margin-right: 0.5em;
 }

 .header__assistance-info {
     line-height: 1.5;
     font-weight: 600;
     font-size: 1.125rem;
 }

 .header__assistance-info a {
     transition: all .3s;
 }

 .header__assistance-info a:hover {
     color: #504e4e98;
 }

 .header__assistance-info h2 {
     line-height: 1.5;
     font-weight: 500;
     opacity: 70%;
     font-size: 1.125rem;
 }

 /* ------------------top закончили */
 .header__body {
     flex-grow: 1;
 }

 .header__body-inner {
     display: flex;
     height: 100%;
     flex-direction: column;

 }

 .header__content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     min-width: 550px;
     margin-right: 30px;
 }

 .header__title {
     font-size: 4rem;
     font-weight: 800;
     line-height: 131%;
     letter-spacing: -0.03em;
     max-width: 624px;
     margin-bottom: 2rem;
 }

 .header__buttons-video {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
     margin-left: 33px;
     font-weight: 500;
     font-family: Roboto;
     color: #1E1B1B;
     transition: transform 0.3s;

 }

 .header__buttons-video:hover {
     transform: scale(1.05);
 }

 .header__buttons {
     margin-bottom: 48px;
     margin-right: 32px;
     white-space: nowrap;
     display: flex;
     align-items: center;
 }

 .header__worktime {
     position: relative;
     padding-left: 45px;
 }

 .header__worktime::before {
     content: "";
     display: block;
     background: url(../img/firstslide/Icon.png);
     width: 30px;
     height: 30px;
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
 }

 .header__worktime-title {
     line-height: 150%;
     font-weight: 500;
     color: #939191;
 }

 .header__worktime-info {
     font-weight: 600;
     font-size: 1.125rem;
     line-height: 175%;
 }

 .header__main {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: auto 0;
 }

 .header__images {
     position: relative;
     width: 100%;

     height: 100%;
 }

 .header__images>img.header__images-main {

     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 .header__images-main {}

 .block {
     border: 12px solid rgba(225, 225, 225, 0.43);
     border-radius: 59px;
     max-width: 305px;
     width: 50%;
     min-width: 170px;
     height: auto;
     padding: 15px;
     box-shadow: 0 28px 118px 0 rgba(109, 108, 115, 0.12);
     background: linear-gradient(174deg, #fff 0%, #fff 100%);
     background-clip: padding-box;
 }

 .header__images-service {
     font-weight: 600;
     font-size: clamp(14px, 2vw, 24px);
     line-height: 150%;
     letter-spacing: -0.03em;
     position: absolute;
     left: -20px;
     top: 11%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;



 }

 .service__time {

     width: 70px;
     height: 70px;
     background-color: #5CBA99;
     color: #fff;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 3px;
     min-width: 70px;

 }

 .service__time--hours {
     font-weight: 600;
     font-size: 1.5rem;
     line-height: 150%;
     letter-spacing: -0.03em;
 }

 .service__time--word {
     font-weight: 600;
     font-size: 1rem;
     line-height: 175%;
     position: relative;
     top: 4%;
 }



 .header__images-rating--block {
     max-width: 326px;
     height: auto;
     padding: 25px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     position: absolute;
     top: 72%;
     left: 50%;
 }

 .star-box {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2px;
 }

 .star-box__item:nth-child(5) {
     position: relative;
     clip-path: inset(0 50% 0 0);
     z-index: 2;
 }

 .star-box__item:nth-child(6) {
     position: absolute;
     left: 81%;
     top: 0;
     z-index: 0;
 }

 .rating__text {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     line-height: 150%;
     padding-left: 15px;
     margin-right: 8px;
 }

 .header__score {
     font-weight: 600;
     font-size: clamp(1rem, 2vw, 1.5rem);
     letter-spacing: -0.03em;
 }

 .header__ratetxt {
     font-weight: 500;
     font-size: 1rem;
     opacity: 70%;
 }

 /* -----------header end------------------ */
 /* ---section offer--- */

 .offer {
     width: 100%;
     background-color: #F2F2F2;
     min-height: 100vh;
     font-weight: 600;
     display: flex;
     flex-direction: column;
 }

 .container--offer {
     display: flex;
     flex-grow: 1;
     flex-direction: column;
     width: 100%;
 }

 .offer__inner {
     display: flex;
     flex-direction: column;
     flex-grow: 1;
 }

 .offer__main {
     display: flex;
     width: 100%;
     flex-direction: column;
     margin: auto 0;
 }

 .offer__heading {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-bottom: 4rem;
 }


 .offer__grid {
     display: grid;
     width: 100%;
     grid-template-columns: repeat(4, 1fr);
     margin: 0 auto;
     gap: 8px;
     justify-items: stretch;
 }

 .offer__grid-item {
     background-color: #fff;
     padding: 60px 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 1rem;
     font-size: 1.5rem;
     line-height: 150%;
     letter-spacing: -0.03em;
     transition: all 0.3s;
 }

 .offer__grid-item:hover {
     transform: scale(1.02);
     color: #504e4e98
 }

 .offer__grid-item:nth-child(3) {
     background-color: #FF6433;
     color: #fff;
 }

 .offer__grid-item:nth-child(3):hover {
     background-color: #FF6433;
     color: #504e4e98
 }

 .offer__row {
     margin-top: 2rem;
     display: inline-flex;
     align-items: center;
     align-self: flex-end;
     gap: 1rem;
     font-size: 1.125rem;
     transition: all .3s;
 }

 /* color: #504e4e98; */
 .offer__row:hover {
     color: #504e4e98;
 }

 /* -=========================- */
 .process__inner {
     padding: 120px 200px 136px 0;
     display: flex;
     justify-content: space-between;
 }

 .process__info {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
     max-width: 524px;
     margin-right: 20px;
 }

 .process__title {
     
     text-align: start;
     margin-bottom: 16px;
 }

 .process__subtitle {
     font-weight: 600;
     font-size: 1rem;
     line-height: 175%;
     opacity: 0.6;
     margin-bottom: 32px;
     max-width: 420px;
     width: 100%;
 }

 .process__list {
     max-width: 432px;
     width: 100%;
     display: flex;
     flex-direction: column;
     
 }

 .process__item {
     display: flex;
    
     gap: 24px;
 }

 .process__visual {
     width: 72px;
     display: flex;
     flex-direction: column;
     flex-shrink: 0;
     align-items: center;
     overflow: hidden;
 }

 .process__circle {
     width: 72px;
     height: 72px;
     background-color: #661CE7;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     font-weight: 700;
     font-size: 2rem;
     line-height: 75%;
     position: relative;
 }

 .process__circle::after {
     content: "";
     position: absolute;
     bottom: -29%;
     /* Сдвигаем вниз */
     left: 50%;
     transform: translateX(-50%);
     width: 42px;
     height: 42px;
     border-radius: 100%;
     background-color: rgba(255, 255, 255, 0.24);
 }



 .process__line {
     flex-grow: 1;
    margin-top: 16px;
    margin-bottom: 22px;
 }
.process__line--last{
    visibility: hidden;
    margin-bottom: 0;
}
 .process__content {
    padding-top: 10px;
 }

 .process__content-title {

     font-weight: 700;
     font-size: 2rem;
     line-height: 150%;
     letter-spacing: -0.03em;
     margin-bottom: 8px;
 }

 .process__content-desc {
     font-weight: 600;
     font-size: 1.125rem;
     line-height: 175%;
     opacity: 0.6;
 }